body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
  }

  .scroll-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f104d2;
    color: rgb(94, 8, 233);
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

.scroll-to-top-btn p{

    
    color: #fff;
    align-items: center;

}

.scroll-to-top-btn span {

  color: #fff;
  font-size: 230%;
}

.scroll-to-top-btn.show {
    display: block;
}

.footer {

  background:rgb(33, 135, 218);
  padding: 10px;
  color: #fff;
  font-weight: 500;
  text-align: center;
}

  
  nav {
    background-color: #3498DB;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 23px 25px;
    margin: 0;

  }
  
  .logo {
    font-size: 3rem;
    font-family: 'Oleo Script Swash Caps', sans-serif;
    position: absolute;
    left: 0;
    margin-left: 20px;
    cursor: pointer;
  }
  
  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    margin-right: 50px;
    font-family: 'Inter', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    position: relative;
  }
  
  ul li a {
    color: white;
    text-decoration: none;
  }

  ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.4s;
}
  
ul li:hover::after{

    width: 100%;
}
  
  .checkbtn {
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
  }
  
  #check {
    display: none;
  }

  .btn-logon {

    background: white;
    border-radius: 20px;
    padding: 15px 25px;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    border: none;
    transition: 0.5s;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 15px;
    margin-right: 20px;
  }

  .btn-logout {

    background: rgb(243, 98, 98);
    border-radius: 20px;
    padding: 15px 25px;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 15px;
    margin-right: 20px;
    display: none;
  }

  .btn-logout:hover {

    background: rgb(92, 1, 1);
  }

  
  .btn-logon:hover {
    background: black;
    color: white;
  }
  
  @media (max-width: 1200px) {

    nav {

        justify-content: end;
        
    }

    ul {
        margin-right: 10%;
    }
  }
  @media (max-width: 990px) {
    .checkbtn {
      display: block;
      order: 1;
      margin-right: 20px;
    }

    .btn-logon {

        margin-right: 90px;
    }
  
    ul {
      position: fixed;
      top: 80px;
      right: -100%;
      background-color: #1e89cf;
      width: 40%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 0.3s;
      margin-right: 0;
    }
  
    ul li {
      margin: 40px 0;
    }
  
    ul li a {
      font-size: 20px;
    }
  
    #check:checked ~ ul {
      right: 0;
    }
  }

  @media (max-width: 500px) {

    .logo {
        font-size: 2rem;
    }
  }

  @media (max-width: 390px) {

    .logo {
        font-size: 1.8rem;
    }
  }

  @media (max-width: 380px) {

    .logo {
        font-size: 1.5rem;
    }
  }

  .logout-container {

    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fundo semi-transparente */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Z-index alto para garantir que a caixa de diálogo esteja na frente de todo o conteúdo */
    transition: opacity 0.3s ease;
  }

  .logout-box {

    border: 1px solid #a3a3a3;
    width: 500px; /* Aumenta a largura da caixa */
    padding: 100px; /* Ajusta o padding para dar mais espaço interno */
    background-color: #d3d3d3; /* Cor de fundo cinza claro */
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); /* Sombra para dar destaque */
    animation: expandFromCenter 0.6s forwards ease-out;
    transform: scale(0.1); /* Inicia pequeno */
    opacity: 0; /* Inicia invisível */
  }

  @keyframes expandFromCenter {
    0% {
      transform: scale(0.1); /* Começa pequeno */
      opacity: 0; /* Inicia invisível */
    }
    70% {
      transform: scale(1.2); /* Cresce um pouco mais que o tamanho normal */
      opacity: 1; /* Torna-se visível */
    }
    100% {
      transform: scale(1); /* Tamanho normal */
      opacity: 1; /* Visível totalmente */
    }
  }

  .logout-box > h1 {

    margin-bottom: 40px;
    font-size: 3rem; 
    margin-top: 50px;   
  }

  .logout-box > p {

    font-size: 1.8rem;
    margin-top: 20px;
  }

  .logout-box .logout-box-btn {

    margin-top: 30px;
    padding: 20px 30px;
    background-color: #ff0000; 
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
  }

  .logout-box .logout-box-connected {

    margin-top: 30px;
    padding: 20px 30px;
    background-color: #a3a3a3; /* Cor do botão azul claro */
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
  }


  .sub-topnav {

    background: #282A35;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow-x: auto;
    justify-content: space-around;
    
  }

  .sub-topnav > a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 15px ; /* Adicione padding para espaçamento entre os links */ /* Espaçamento entre os links */
    white-space: nowrap; 
    cursor: pointer;
    
  }

  .sub-topnav > a:hover {

    background: #17181f;
  }

  .dialog-box {
    display: none;
    position: fixed;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 5px;
}

  .home-banner {

    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #93b8c0;
    height: 35vh;
    display: flex;
    overflow: hidden; /* Garante que o conteúdo excedente não ultrapasse a seção */
    padding: 35px; 
    
  }

  .home-texts {

    background: #1d73ad;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 30px;
    padding: 35px;
    border-radius: 20px;
  }


  .home-banner h1 {
    margin: 0 0 30px 0;
    font-size: 2rem;
    color: #fff;
}

.home-banner #texto {
    margin: 0 0 20px 0; 
    font-size: 1.2rem;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
}

.home-gif {
    max-width: 100%; /* Garante que o GIF não ultrapasse a largura da seção */
    max-height: 100%; /* Garante que o GIF não ultrapasse a altura da seção */
    height: auto; /* Mantém a proporção do GIF */
    object-fit: contain; /* Garante que o GIF se ajuste dentro da seção sem distorção */
     /* Centraliza o GIF horizontalmente */
}

.search-div {

   display: flex;
    
    
}
.search-content {

    padding: 15px 15px;
    border-radius: 10px;
    outline: none;
    border: none;
    text-align: start;
    font-size: 1.1rem;
    width: 60%;
}

.search-btn {

    font-size: 1rem;
    background: #3498DB;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    margin-left: 20px;
    color: #fff;
    cursor: pointer;
    transition: .3s;
    padding: 15px;
}

.search-btn:hover {

    background: #081e2c;
}

@media only screen and (max-width: 1024px) and (max-height: 600px) {
  .home-banner {

    height: 80vh;
  }
}

@media (max-width: 945px) {

    .home-banner #texto {
        margin: 0 0 20px 0; 
        font-size: 1rem;
    }

   
}

@media (max-width: 790px) {

    .home-banner {

        flex-direction: column;
        height: 70vh;

    }

    .home-texts {

        width: 100%;
        margin: 0;

    }

    .search-content {

        font-size: 1rem;
        padding: 20px;
    }

    .home-gif {

        max-width: 85%;
        max-height: 85%;
    }
}

@media (max-width: 500px) {

    .home-gif {

        max-width: 80%;
        max-height: 80%;
    }

    .home-banner {
        height: 80vh;
    }
}

.materia-lp {

    display: flex;
    align-items: center;
    justify-content: center;
    background: #ccb0dd;
    height: 45vh;
    padding: 35px; 
    
  }

  .lpstudy {
    max-width: 100%; 
    max-height: 100%; 
    height: auto;
    object-fit: contain; 
    
}

  .lp-svgsection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

  .lp-textsection {

  color: black;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
  padding: 15px;
  max-width: 30%;
  background: #fff;
  margin-left: 15%;
  border-radius: 20px;
  box-shadow: 4.7px 9.4px 9.4px hsl(0deg 0% 0% / 0.35);
  font-family: 'Source Sans Pro', sans-serif;

  }

  .lp-textsection > h1 {

    font-size: 2rem;
  }

  .lp-textsection > p {

    font-size: 1.2rem;
  }
  
  .btn-lp {

    padding: 15px 20px;
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: 15px;
    border: none;
    background: #bc5ff7;
    cursor: pointer;
    transition: .3s;
  }

  .btn-lp:hover {

    background: #960aec;
  }

  .btn-lp2 {

    padding: 15px 50px;
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: 15px;
    border: none;
    background: #06a7e7;
    cursor: pointer;
    margin-top: 10px;
    transition: .3s;
  }
  
  .btn-lp2:hover {
    background: #045f83;
   
  }

  @media (max-width: 1336px) {

    .lp-textsection > h1 {

      font-size: 1.5rem;
    }

    .lp-textsection > p {

      font-size: 1.1rem;
    }
  }

  @media (max-width: 715px) {

    .materia-lp {

      flex-direction: column;
      height: 80vh;
    }

    .lp-textsection {

      max-width: 95%;
      margin-left: 0;
    }
  }

  @media (max-width: 405px) {

    .lp-textsection > h1 {

      font-size: 1.3rem;
    }

    .lp-textsection > p {

      font-size: 1rem;
    }

    

  }

  .materia-mat {

    display: flex;
    align-items: center;
    justify-content: center;
    background: #282A35;
    height: 45vh;
    padding: 35px; 
    font-family: 'Source Sans Pro', sans-serif;
  }

  .lpmat {

    max-width: 80%; 
    max-height: 80%; 
    height: auto;
    object-fit: contain; 
  }

  .btn-mat {

    padding: 15px 20px;
    color: black;
    font-weight: 600;
    font-size: 1.1rem;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 15px;
    border: none;
    background: rgb(247, 219, 12);
    transition: .3s;
    cursor: pointer;
    margin-top: 10px;

  }

  .btn-mat:hover {

    background: rgb(218, 207, 123);
  }

  .btn-mat2 {

    padding: 15px 50px;
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 15px;
    border: none;
    background: rgb(4, 170, 109);
    cursor: pointer;
    margin-top: 10px;
    transition: .3s;
  }

  .btn-qui2 {

    padding: 15px 50px;
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 15px;
    border: none;
    background: rgb(4, 170, 109);
    cursor: pointer;
    margin-top: 10px;
    transition: .3s;
  }

  .btn-qui {

    padding: 15px 20px;
    color: black;
    font-weight: 600;
    font-size: 1.1rem;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 15px;
    border: none;
    background: rgb(247, 219, 12);
    transition: .3s;
    cursor: pointer;
    margin-top: 10px;

  }


  .btn-mat2:hover {

    background: rgb(2, 116, 74);
  }

  @media (max-width: 715px) {

    .materia-mat {

      flex-direction: column;
      height: 80vh;
    }
  }

  @media (max-width: 375px) and (max-height: 667px) {

    .materia-lp {

      height: 100vh;
    }

    .btn-lp, .btn-lp2, .btn-mat, .btn-mat2 {

      padding: 10px 20px;
    }

    .home-texts > h1 {
      font-size: 1.5rem;
    }

    .home-texts #texto {

      font-size: 0.9rem;
    }

    .home-texts {

      padding: 25px;
    }

    .materia-mat {

      height: 100vh;
    }
  }

  .materia-fisica {

    display: flex;
    align-items: center;
    justify-content: center;
    background: #aaf0ad;
    height: 45vh;
    padding: 35px; 
  }

  @media (max-width: 715px) {

    .materia-fisica {

      flex-direction: column;
      height: 90vh;
    }
  }

  @media (max-width: 367px) {

    .lp-textsection {

      margin-top: 12%;
    }
  }

  .materia-quimica {

    display: flex;
    align-items: center;
    justify-content: center;
    background: #b692f0;
    height: 45vh;
    padding: 35px; 
  }

  .btn-fis {

    padding: 15px 20px;
    color: black;
    font-weight: 600;
    font-size: 1.1rem;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 15px;
    border: none;
    background: rgb(161, 209, 248);
    transition: .3s;
    cursor: pointer;
    margin-top: 10px;
  }

  .btn-fis:hover {

    background: rgb(33, 135, 218);
  }

  .btn-fis2 {

    padding: 15px 50px;
    color: black;
    font-weight: 600;
    font-size: 1.1rem;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 15px;
    border: none;
    background: rgb(247, 204, 140);
    transition: .3s;
    cursor: pointer;
    margin-top: 10px;
  }

  .btn-fis2:hover {

    background: rgb(211, 151, 61);
  }

  @media (max-width: 715px) {

    .materia-quimica {

      flex-direction: column;
      height: 100vh;
    }
  }

  @media (max-height: 700px) {

    .materia-fisica {

      height: 110vh;
    }

    .materia-quimica {

      height: 110vh;
    }
  }

  @media (max-height: 800px) {

    .materia-lp {

      height: 80vh;
    }

    .materia-mat {

      height: 80vh;
    }
  }